<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contactate con nosotros y obtene la mejor atencion">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0f15c8455.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estiloproductos.css">
    <script src="../jQuery/lib/libreria.js"></script>
    <title>Contacto | Delirium Joyas</title>
</head>
<body id="gridContainerIndex">
    <header> 
        <h1>
         Delirium Joyas
        </h1>
     </header>          
    <nav>
       <ul id="gridTwo">
          <li>
             <a href="../index.html">home</a>
          </li> 
          <li>
             <a href="./productos.html">productos</a>
         </li> 
         <li>
             <a href="./tienda.html">tienda</a>
         </li> 
         <li>
             <a href="./nosotros.html">nosotros</a>
         </li> 
         <li>
             <a href="./contacto.html">contacto</a>
         </li>
       </ul> 
    </nav>
<section> 
    <h2>Contacto</h2>
   
 <div class="container"> 
    
    <form id="formContact">
        <fieldset>
            <legend class="estiloForm">Formulario De Contacto</legend>
            <br>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="">    
            <br>    
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" class="">
            <br>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="">
            <br>
            
            <label for="">desea recibir nuestro catalogo y novedades?</label>
            <br>
            <label for="infosi">si</label>
            <input type="checkbox" id="infosi" name= "infosi" value="si quiero" class="form-check-input">
            <label for="infono">no</label>
            <input type="checkbox" id="infono" name="infono" value="no quiero" class="form-check-input">
            <br>
            <label for="deje su comentario" id="estiloDos">deje su comentario</label>
            <textarea class="form-control" id="escrituraCampo" name="escrituraCampo" cols="30" rows="10"></textarea>
            <input type="submit" value="enviar" id="btnEnviar" class="btn btn-success">
            <input type="reset" value="reset" id="btnReset" class="btn btn-secondary">
        </fieldset>
    </form>
  </div> 
</section>
    <footer>
        <a href="https://www.facebook.com/"> facebook <i class="fab fa-facebook"></i></a> <a href="https://www.instagram.com/?hl=es"> instagram <i class="fab fa-instagram"></i></a> <a href="https://twitter.com/?lang=es"> twitter <i class="fab fa-twitter"></i></a>
    </footer>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
     <script src="./js/contacto.js"></script>
     <script src="./class/clases.js"></script>
     
     
</html>