<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conocenos y sabe mas de como nacio una de las mejores joyerias del mundo">
    <link rel="stylesheet" href="../estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Nosotros | Delirium Joyas</title>
</head>
<body>
    <header> 
        <h1> 
        Delirium Joyas 
       </h1>
    </header>  
    <nav>
       <ul>
         <li>
             <a href="../index.html">home</a>
         </li> 
         <li>
             <a href="./productos.html">productos</a>
         </li> 
         <li>
             <a href="./tienda.html">tienda</a>
         </li> 
         <li>
             <a href="./nosotros.html">nosotros</a>
         </li> 
         <li>
             <a href="./contacto.html">contacto</a>
         </li>
       </ul> 
    </nav>
    <h2 class="hDos">Nosotros</h2>
    <p>Desde hace mas de una decada nos dedicamos a la venta de joyas de la mas alta calidad, satisfaciendo a clientes de todas partes del mundo.</p>
    <footer>
        <a href="https://www.facebook.com/">Facebook</a> <a href="https://www.instagram.com/?hl=es">Instagram</a> <a href="https://twitter.com/?lang=es">twitter</a>
    </footer>
</body>
</html>