<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="conoce nuestra tienda y compra con confianza">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0f15c8455.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estiloproductos.css">
    <script src="/jQuery/lib/libreria.js"></script>

    <title>Tienda | Delirium Joyas</title>
</head>
<body id="gridContainerIndex">
   <header>
       <h1>
       Delirium Joyas
       </h1>
     </header>
    <nav>
       <ul id="gridTwo">
          <li>
             <a href="../index.html">home</a>
          </li> 
          <li>
             <a href="./productos.html">productos</a>
         </li> 
         <li>
             <a href="./tienda.html">tienda</a>
         </li> 
         <li>
             <a href="./nosotros.html">nosotros</a>
         </li> 
         <li>
             <a href="./contacto.html">contacto</a>
         </li>
       </ul> 
    </nav>
    <section>
    <h2 class="titulo2"> Carrito de compras </h2>
    <div id="contenedorFlexible"> 
    <div class="card" style="width: 18rem;">
        <img src="../img/anillo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Anillos</h5>
          <p class="card-text">Stock:100</p>
          <p class="card-text">Precio: <span class="precio">$900</span></p>
          <button class="btn btn-primary button">Comprar</button>
        </div>
      </div>
    
     <br>
     
      <div class="card" style="width: 18rem;">
        <img src="../img/arosFlores.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aros</h5>
          <p class="card-text">Stock:90</p>
          <p class="card-text">Precio: <span class="precio">$800</span></p>
          <button class="btn btn-primary button">Comprar</button>
        </div>
      </div>
     
     <br>
     
      <div class="card" style="width: 18rem;">
        <img src="../img/cadenasLook.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cadenas</h5>
          <p class="card-text">Stock:80</p>
          <p class="card-text">Precio: <span class="precio">$1000</span></p>
          <button class="btn btn-primary button">Comprar</button>
        </div>
      </div>
     </div>
    </div>
    <br>
    <table class="table">
        <thead>
          <tr class=text-primary>
            <th scope="col">#</th>
            <th scope="col">Productos</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="table__productos">
                <img src="../img/anillosCadena.jpg" alt="">
                <h6 class="title">Title</h6>
            </td>
            <td class="table__precio"> <p>$800</p></td>
            <td class="table__stock" > 
                <input type="number" min="1" value="1">
                <button class="delete btn btn-danger">x</button>
            </td>
          </tr>
          
        </tbody>
      </table>
      <br><br>
      <div class="row mx-4" >
          <div class="col">
              <h3 class="itemCompraTotal" >Total:0</h3>
          </div>
          <div class="col d-flex justify-content-end">
              <button class="btn btn-success">Comprar</button>
          </div>
      </div>


</section>
    <footer>
        <a href="https://www.facebook.com/"> facebook <i class="fab fa-facebook"></i></a> <a href="https://www.instagram.com/?hl=es"> instagram <i class="fab fa-instagram"></i></a> <a href="https://twitter.com/?lang=es"> twitter <i class="fab fa-twitter"></i></a>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="./tiendaMain.js/tienda.js"></script>
    <script src="./tiendaMain.js/class/programador.js"></script>
    
   
    
</body>
</html>